{{ 'section-logo.css' | asset_url | stylesheet_tag }}

<style>
  .header_logo-img {
    max-width: {{ settings.logo_width }}px;
  }
  .header_logo {
    font-size: {{ section.settings.logo_font_size }}px;
  }
</style>

<div class='logo-container logo-fixed'>
  <div class="logo-wrapper">
    <a href="{{ section.settings.logo_url }}" class="header__heading-link link link--text focus-inset">
      {%- if settings.logo != blank -%}
        {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
        {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
        {{ settings.logo | image_url: width: 500 | image_tag:
          class: 'header_logo-img',
          widths: '50, 100, 150, 200, 250, 300, 400, 500',
          height: logo_height,
          width: settings.logo_width,
          alt: logo_alt
        }}
      {%- else -%}
        <div class="svg-logo-wrapper">
          <img src="{{ 'icon-logo.svg' | asset_url }}" alt="" class="svg-logo" width="1000" height="110">
        </div>
        {% comment %} <span class="header_logo">{{ shop.name }}</span> {% endcomment %}
      {%- endif -%}
    </a>
  </div>
</div>

{% schema %}
{
  "settings": [
    {
      "type": "range",
      "id": "logo_font_size",
      "min": 12,
      "max": 44,
      "step": 2,
      "unit": "px",
      "label": "Logo font size",
      "default": 24
    },
    {
      "type": "url",
      "id": "logo_url",
      "label": "Logo URL"
    }
  ]
}
{% endschema %}
